@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: #007CC7;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span {
    color: #007CC7;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: #fff;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 12.5px;
    margin-right: 12.5px;
    transition: color 0.3e ease;
}

.navbar .menu li a:hover {
    color: #4DA8DA;
}

.navbar.sticky .menu li a:hover {
    color: #12232E;
}

.navbar .menu li .social-media {
    display: inline;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    margin-right: 0px;
    transition: color 0.3e ease;
}

.navbar .menu li .social-media:hover {
    color: #007CC7;
}

.navbar.sticky .menu li .social-media:hover {
    color: #007CC7;
}

/* menu btn styling */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #4DA8DA;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* home section styling */
.home {
    z-index: 5;
    display: flex;
    background: #000000; 
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    z-index: 20;
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 75px;
    margin: 5px 0;
}

.home .home-content .text-3 .highlight {
    color: #007CC7;
    font-weight: 500;
}

.home .home-content a {
    display: inline-block;
    background: #007CC7;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #007CC7;
    transition: all 0.3s ease;
}

.home .home-content a:hover {
    color:#007CC7;
    background: #000000;
}

/* home section flashlight effect styling */
.home .flashlight {
    z-index: 10;
    position: absolute;
    top: calc(50% - 10rem);
    left: calc(50% - 10rem);
    width: 10rem;
    height: 10rem;
    background: #007CC7;
    background-size: cover;
    border-radius: 50%;
}

.home .flashlight::after {
    content: "";
    display: block;
    width: 110%;
    height: 110%;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%,rgba(0,0,0,1) 100%);
    border-radius: 50%;
    position: absolute;
    margin-left: -5px;
    margin-top: -5px;
}

/* General styling */
section {
    position: relative;
    z-index: 50;
    padding: 100px 0;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%); 
}

section .title::after {
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #007CC7;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

#github:hover {
    color: #24292e;
}

#linkedin:hover {
    color: #2867b2;
}

#twitter:hover {
    color: #1DA1F2;
}

/* about section styling */

.about , .skills, .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about {
    background: #fff;
}

.about .title::after {
    content: "who am I";
}

.about .about-content, 
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img{
    height: 400px; 
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text .highlight {
    color: #007CC7;
}

.about .about-content .right p {
    text-align: left;
}

.about .about-content .right a {
    display: inline-block;
    background:#007CC7;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid#007CC7;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color:#007CC7;
    background: none;
}

/* Skills section styling */
.skills {
    color: #fff;
    background: #111;
}

.skills .title::before {
    background: #fff;
}

.skills  .title::after{
    background: #111;
    content: "what I do";
}

.skills .skills-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.skills .skills-content .card:hover {
    background:#EEFBFB;
    color: #203647;
}

.skills .skills-content .card .box {
    transition: all 0.3s ease;
}

.skills .skills-content .card:hover .box {
    transform: scale(1.05);
}

.skills .skills-content .card i {
    font-size: 50px;
    color: #007CC7;
    transition: color 0.3 ease;
}

.skills .skills-content .card:hover i {
    color:#007CC7;
}

.skills .skills-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.skills .skills-content .card p span {
    color:#007CC7;
}

/* contact section styling */
.contact {
    background: #fff;
}

.contact .title::after {
    content: "get in touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
}

.contact .contact-content .left p {
    text-align: left;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .left .social-media {
    display: inline;
    color: #203647;
    font-size: 25px;
    font-weight: 800;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: color 0.3e ease;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color:#007CC7;
}

.contact .contact-content .info .head {
    font-weight: 500;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid #888;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    border: 2px solid#007CC7;
    background:#007CC7;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #007CC7;
    background: none;
}

/* footer section styling */
footer {
    z-index: 50;
    position: relative;
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a {
    color:#007CC7;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline; 
}






/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar {
        padding: 20px 0;
    }
    .navbar.sticky {
        padding: 10px 0;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right p {
        flex: 100%;
    }
    .skills .skills-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
    .navbar {
        padding: 15px 0;
    }
    .navbar.sticky {
        padding: 5px 0;
    }
    .navbar .logo img {
        height: 59.5px;
        width: 170px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .skills .skills-content .card {
        width: 100%
    }
    .scroll-up-btn {
        height: 40px;
        width: 38px;
        line-height: 40px;
    }
}

@media (max-width: 500px) {
    .navbar .logo img {
        height: 52.5px;
        width: 150px;
    }
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .scroll-up-btn {
        height: 36px;
        width: 34px;
        line-height: 37px;
    }
}